{% extends 'base.html' %}

{% block container %}
<main class="container mt-3">
  <div class="card my-4 mx-auto">
    <div class="card-body m-2 m-md-4">
      <article class="">
        <div class="row">
            <div class="col-4"><img src="{{ picture }}" class="img-fluid" alt=""></div>
              <section class="col-8 teacher=info">
                <h1 class="h2">{{ name }}</h1>
                <p>
                    Рейтинг: {{ rating }} Ставка: {{ price }} / час
                </p>
                <p>{{ about }}</p>
              </section>
        </div>
        <section class="available text-center">
          <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
          <div class="row">
            {% for week_day in day %}
            <div class="col">
              <h6 class="mt-4">{{ week_day }}</h6>
                {% for now in time %}
                  {% if (week_day, now) in allready %}
                    <a href="" class="btn btn-outline-secondary m-1 disabled">{{ now }} занято</a>
                  {% else %}
                    <a href="{{ url_for('render_booking_page', id_teacher=id_teacher, time=now, w_day=w_day) }}" class="btn btn-outline-success m-1">{{ now }} свободно</a>
                  {% endif %}
              {% endfor %}
            </div>
            {% endfor %}

          </div>
        </section>
      </article>
    </div>
  </div>
</main>
{% endblock %}
