{% extends 'base.html' %}

{% block container %}
<main class="container mt-5">
  <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
    <form action="{{ url_for('render_request_page') }}" class="card mb-5" method="POST">
      <div class="card-body text-center pt-5">
        <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
        <p class="px-5">Напишите, чего вам нужно и мы подберем отличных ребят</p>
      </div>
      <hr>
      <div class="card-body mx-3">
        <div class="row">
            <div class="col">
            {{ form.for_what.label }}
            {{ form.for_what }}
            </div>
            <div class="col">
            {{ form.how_time.label }}
            {{ form.how_time }}
            </div>
        </div>

      </div>
      <hr>
      <div class="card-body mx-3">

        {{ form.csrf_token }}
        {{ form.name.label }}
        {{ form.name(class_="col mb-2") }}

        {{ form.csrf_token }}
        {{ form.phone.label }}
        {{ form.phone(class_="col") }}
        {% for err in form.phone.errors %}
          <p class="alert-warning mt-2 pl-2">{{ err }}</p>
        {% endfor %}

        {{ form.submit(class_="btn btn-primary btn-block mt-4") }}

      </div>
    </form>
  </div>
</main>
{% endblock %}
